<footer>
  <p>PetChoice &mdash; WEB700 Project Part 3 &mdash; Summer 2026 &mdash;
    Devkumar Patel &amp; Ebuka Akaegbusi &mdash;
    Powered by Neon PostgreSQL &amp; Vercel
  </p>
</footer>
</body>
</html>
